{erl_opts, [
    warnings_as_errors,
    debug_info
]}.
{port_specs, [
    {"priv/ekstat_nif.so", ["c_src/stat_kstat.c", "c_src/ekstat.c"]}
]}.
{port_env, [
    {"CFLAGS", "$CFLAGS -fPIC"},
    {"CXXFLAGS", "$CXXFLAGS -fPIC"},
    {"DRV_CFLAGS", "$DRV_CFLAGS -Werror"},
    {"DRV_LDFLAGS", "$DRV_LDFLAGS -lcmdutils -lkstat"}
]}.